.home {
  &__hero {
    background-color: @gray;
    .fs-background-container {
      transition: opacity 300ms ease;
    }
    &.is-active {
      .fs-background-container {
        opacity: .75;
      }
    }
    &-link {
      z-index: 2;
      //background: @red;
    }
    .title {
      strong, b {
        font-weight: 900;
      }
    }
  }
  &-module {
    .accent {
      text-transform: uppercase;
      letter-spacing: .1em;
      .font_size(12);
    }
    h3 {
      color: @black;
      .font_size(24);
    }
    .hero {
      background-color: @black;
      .fs-background-container {
        transition: opacity 600ms ease;
      }
    }
    &:hover {
      .fs-background-container {
        opacity: .8;
      }
    }
  }
}