.subscribe {
  &-svg {
    width: 120%;
    display: block;
    min-width: 100%;
  }
  &-wrapper {
    padding: @spaced*3;
    padding-bottom: @spaced;
  }
  &-form {
    color: @black;
    .subscribe {
      &-input {
        display: block;
        width: 100%;
        border: 1px solid @white;
        color: @white;
        background: @red;
        text-align: center;
        padding: @spaced*.5;
        margin-bottom: 20px;
        .font_size(18);
        &::placeholder { /* Chrome/Opera/Safari */
          color: @white50;
        }
      }
      &-form-submit {
        margin: 0 auto!important;
        background: @white!important;
        color: @red!important;
        display: block!important;
        padding: 0 @spaced*2!important;
      }
    }
  }
  &-close {
    color: @white;
  }
}

.mfp {
  &-bg {
    &.mfp-subscribe {
      opacity: 0;
      background: #fff;
      transition: opacity 500ms ease;
      &.mfp {
        &-ready {
          opacity: .8;
        }
        &-removing {
          opacity: 0;
        }
      }
    }
  }
  &-wrap {
    &.mfp-subscribe {
      opacity: 0;
      transition: opacity 500ms ease;
      &.mfp {
        &-ready {
          opacity: 1;
        }
        &-removing {
          opacity: 0;
        }
      }
    }
  }
}