<div class="fs-row">

{% for collection in collections %}

  <div class="fs-cell fs-lg-half fs-md-half fs-sm-3 collection-item text-center collection-item__{{ collection.handle }}">
    <div class="collection-item__thumb"><div class="hero hero--sm bg--gray"></div></div>
    <header class="collection-item__header">
      <h2 class="collection-item__title">{{ collection.title }}</h2>
    </header>
    <div class="collection-item__desc">{{ collection.description }}</div>
    <a class="collection-item__link btn" href="{{ collection.url }}">View Products</a>
    <hr class="invisible">
  </div>

{% endfor %}

</div>