{% assign add_to_cart = 'Add to bag' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div id="product">
  <div class="fs-row">
    <div class="fs-cell fs-xl-6 fs-lg-6 fs-md-5 fs-sm-3">{% include 'product-images' %}</div>
    <hr class="invisible fs-cell fs-lg-hide fs-md-6 fs-sm-3">
    <div class="fs-cell fs-xl-6 fs-lg-6 fs-md-5 fs-sm-3">{% include 'product-info' %}</div>
  </div>
  <div class="product-page__footer"></div>
</div>
