<a id="open_bag" class="btn--nav btn header__icon--bag" href="#">
  <span>Bag</span>&nbsp;(<span class="cart-count">{{ cart.item_count }}</span>)&nbsp;
  <img src="{{ 'bag.svg' | asset_url }}" alt="Bag">
</a>
<div id="bag">
  <div class="bag-header header header--sm">
    <div class="fs-row">
      <div class="fs-cell fs-all-full text-right">
        <span class="btn btn--nav bag-close btn--last">
          <a href="#" class="ss-gizmo ss-delete right" id="close_bag"><img src="{{ 'x.svg' | asset_url }}">&nbsp;</a>
        </span>
      </div>
    </div>
  </div>
  <hr class="bag-divider divider top">
  <div id="bag--wrapper" class="bag-wrapper text-left">
    <div class="fs-row">
      <div class="fs-cell fs-full-all" id="items"></div>
      <div class="fs-cell fs-full-all" id="bagtotal"></div>
    </div>
  </div>
</div>