@tailwind base;

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* purgecss start ignore */
@import '~tiny-slider/dist/tiny-slider.css';
/* purgecss end ignore */

@font-face {
  font-family: 'SuperGroteskPro';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/SuperGroteskWeb-Medium.woff') format('woff2');
}

@font-face {
  font-family: 'SuperGroteskPro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/SuperGroteskWeb.woff') format('woff2');
}

.videoEmbed {
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

@tailwind components;
@tailwind utilities;
