<div id="collection">
  {% unless collection.products.size == 0 %}
  {% include 'page-header' %}
  <div class="fs-row">
    {% for product in collection.products %}
    <div class="fs-cell fs-lg-third fs-md-half fs-sm-full">
      {% include 'product-grid-item' with price %}
      <hr class="invisible">
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="fs-row">
    <div class="fs-cell fs-all-full">
      <div class="hero relative">
        <h2 class="centered text-center">Sorry, nothing in this collection yet.</h2>
      </div>
    </div>
  </div>
  {% endunless %}
</div>