<div class="covered bg--black" style="position:fixed; z-index: 999">
<div class="centered centered--bottom">
<div class="fs-row">
<div class="fs-cell fs-lg-4 fs-md-half fs-sm-3 fs-centered">
<div class="text-center">
<span class="caps title color--white">store under construction</span>
{% form 'storefront_password' %}
{{ form.errors | default_errors }}
<label for="password" class="color--lightgray">enter store using password:</label>
<br>
<input type="password" name="password">
<input type="submit" class="btn btn--submit" value="Enter">
{% endform %}
</div>
</div>
</div>
</div>
</div>
