{% assign add_to_cart = 'Add to bag' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<hr class="invisible">

<div id="product">
  <div class="fs-row">
    <div class="fs-cell fs-xl-7 fs-lg-7 fs-md-6 fs-sm-3">{% include 'product-images' %}</div>
    <hr class="invisible fs-cell fs-lg-hide fs-md-6 fs-sm-3">
    <div class="fs-cell fs-xl-5 fs-lg-5 fs-md-6 fs-sm-3">{% include 'product-info' %}</div>
  </div>
  <div class="product-page__footer"></div>
  {% section 'product-recommendations' %}
</div>

<script>
  if(window.location.hash == '#sample') {
    setTimeout(function(){
      $('#product-sample-btn').click();
    }, 500);
  }
</script>