/*
Sass::SyntaxError: You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend .clear-after" on line 633 of /Users/fowler/Websites/timeline.dev/wp-content/themes/timeline/shopify/timeline-wood-64745541/assets/style.scss.


Backtrace:
/Users/fowler/Websites/timeline.dev/wp-content/themes/timeline/shopify/timeline-wood-64745541/assets/style.scss:450
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/simple_sequence.rb:327:in `check_directives_match!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/simple_sequence.rb:198:in `block (2 levels) in do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/simple_sequence.rb:198:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/simple_sequence.rb:198:in `block in do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/simple_sequence.rb:188:in `map!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/simple_sequence.rb:188:in `do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/sequence.rb:112:in `block in do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/sequence.rb:110:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/sequence.rb:110:in `do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/comma_sequence.rb:71:in `block in do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/comma_sequence.rb:70:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/selector/comma_sequence.rb:70:in `do_extend'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/extend.rb:44:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/extend.rb:37:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:38:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/extend.rb:28:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/extend.rb:15:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:39:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: You may not @extend an outer selector from within @media.\A You may only @extend selectors within the same directive.\A From \"@extend .clear-after\" on line 633 of /Users/fowler/Websites/timeline.dev/wp-content/themes/timeline/shopify/timeline-wood-64745541/assets/style.scss.\A "; }
