.footer {

	padding: @spaced 0;
  
  &__logo {}
  
  &__nav {
    padding: 0;
    li {
      &:before {
        display: none;
      }
    }
  }
  
  &__title {}
  
  &__logo {}
  
  &--sm {
  	padding: @spaced*.5 0;
  }
  
  &--md {
  	padding: @spaced*2 0;
  }
  
  &--lg {
  	padding: @spaced*3 0;
  }
  
}
