.header {

  box-shadow: 0 1px 0px rgba(0,0,0,.05);

  &__product-btn {
    position: static;
    &:hover {
      //background: red;
      #header-products {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__icon {
    display: block;
    float: right;

    &--search {
      img {
        position: relative;
        top: -1px;
      }
    }
    &--bag {
      float: right;
      img {
        position: relative;
        top: -3px;
      }
    }
  }
  
  &--logo {}
  
  &__nav {}
  
  &__title {}
  
  &__logo {}
  
  &--sm {
  	//padding: @spaced*.5 0;
  }
  
  &--md {
  	@media @min {
  		padding: 0;	
  	}
  	@media @mobile {
  		padding: @spaced 0;
  	}
  	@media @tablet {
  		padding: @spaced*1.375 0;
  	}
  	
  }
  
  &--lg {
  	padding: @spaced*3 0;
  }
  
}

#header {
  //overflow: hidden;

  z-index: 20!important;

  .btn {
    color: @black;
    &:hover {
      color: @textGray;
    }
  }
  &-mobile {
    img {
      position: relative;
      top: -2px;
      margin-right: 3px;
    }
    .close {
      display: none;
    }
    a.fs-swap-active {
      .close {
        display: inline-block;
      }
      .open {
        display: none;
      }
    }
  }
  &--logo {
    @media @min {
      width: 100%;
      display: block;
      margin: auto;
      padding: 0;
    }
    @media @tablet {
      width: 70%;
      display: block;
      margin: auto!important;
      padding: 0;
    }
    @media @desktop {
      width: 200px;
      float: left;
      padding: 0;
      margin-right: @spaced - 1!important;
    }
  }
  &-commercial {
    background-color: @yellow;
    float: right;
    height: @height_nav;
    padding: 0 @spaced*1.5;
    text-align: center;
    line-height: 1.3;
    padding-top: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
  &-main {
    &__notification {
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: @white;
      background-color: @black;
      font-weight: bold;
      //border-bottom: 1px solid @white;
      .font_size(12);
    }
    &__wrapper {
      transition: 500ms ease;
      position: relative;
      z-index: 89;
      background: @white;
      > .fs-row {
        @media @desktop {
          margin: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
	&.fs {
  	&-swap {
  		&-active {
  			//background: @yellow;
        #header-main__wrapper {
          //transform: translateY(-100%);
        }
  		}
  	}
  }
  &-navigation {
    ul {
      margin-bottom: 0;
      padding: 0;
      > li {
        > a {
          &:hover {
            color: @blue;
          }
        }
      }
      li {
        position: relative;
        &.menu-item-has-children {
          border-radius: 0;
          &:hover {
            //background-color: @blue;
            a {
              //color: @white;
            }
            ul {
              //background-color: @blue;
            }
          }
        }
        &:hover {
          a {
            //text-decoration: underline;
            //color: @blue;
          }
          ul {
            li {
              a {
                text-decoration: none;
                &:hover {
                  //text-decoration: underline;
                }
              }
            }
          }
        }
        &:before {
          display: none;
        }
        ul {
          background-color: @white;
          position: absolute;

          @media @min {
            padding: 0 5px @spaced*.5;
          }
          @media @tablet {
            padding: 0 16px @spaced*.5;
          }
          @media @desktop {
            padding: 0 @spaced*2 @spaced*.5;
            margin-left: -@spaced;
          }

          text-align: left;
          //margin-left: -@spaced;
          margin-left: -1px;
          display: none;
          box-shadow: 0 1px 0 1px rgba(0,0,0,.1);
          border-top: 0;
          left: 0;
          //box-shadow: 0 3px 5px rgba(0,0,0,.1);
          li {
            line-height: 30px;
            height: auto;
            white-space: nowrap;
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }
  &-products {
    transition: opacity 300ms ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99;
    &.fs-swap-active {
      display: block;
      z-index: 99;
    }
  }
  &-search {
    position: absolute;
    width: 100%;
    z-index: 88;
    transition: 400ms;
    top: 0;
    background: @yellow;
    &.fs-swap-active {
      //transform: translateY(-100%);
    }
    #s {
      //background: @bgGray;
      margin-bottom: 0;
      height: @height_nav;
      line-height: @height_nav;
      padding: 0;
      background: transparent;
      color: @black50;
      &::placeholder {
        color: @black25;
      }
    }
    #searchsubmit {
      display: none;
    }
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      color: @black50;
    }
  }
}