.header {

  &__icon {
    &--search {
      img {
        position: relative;
        top: -1px;
      }
    }
    &--bag {
      img {
        position: relative;
        top: -3px;
      }
    }
  }
  
  &__logo {}
  
  &__nav {}
  
  &__title {}
  
  &__logo {}
  
  &--sm {
  	padding: @spaced*.5 0;
  }
  
  &--md {
  	@media @min {
  		padding: 0;	
  	}
  	@media @mobile {
  		padding: @spaced 0;
  	}
  	@media @tablet {
  		padding: @spaced*1.375 0;
  	}
  	
  }
  
  &--lg {
  	padding: @spaced*3 0;
  }
  
}

#header {
  overflow: hidden;
  .btn {
    color: @black;
  }
  &-main {
    &__wrapper {
      transition: 500ms ease;
    }
  }
	&.fs {
  	&-swap {
  		&-active {
  			//background: @yellow;
        #header-main__wrapper {
          transform: translateY(-100%);
        }
  		}
  	}
  }
  &-products {
    display: none;
    position: absolute;
    width: 100%;
    &.fs-swap-active {
      display: block;
      z-index: 99;
    }
  }
  &-search {
    position: absolute;
    width: 100%;
    z-index: 88;
    transition: 400ms;
    background: @yellow;
    &.fs-swap-active {
      transform: translateY(-100%);
    }
    #s {
      //background: @bgGray;
      margin-bottom: 0;
      height: @height_nav;
      line-height: @height_nav;
      padding: 0;
      background: transparent;
      color: @black50;
      &::placeholder {
        color: @black25;
      }
    }
    #searchsubmit {
      display: none;
    }
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      color: @black50;
    }
  }
}