.hentry {
  
  &__title{
  	font-weight: normal;
  	line-height: 1.2;
  }
  
  &__posted{}

  &__image {
  	margin-bottom: @spaced;
  }
  
  &__content{
  	margin-bottom: @spaced*3;
  	.font_size(18);
  }
  
  &__footer{}
  
}
