
@font-face {
  font-family: 'SuperGroteskPro';
  src: url('SuperGroteskPro.eot?#iefix') format('embedded-opentype'),  url('SuperGroteskPro.otf')  format('opentype'),
	     url('SuperGroteskPro.woff') format('woff'), url('SuperGroteskPro.ttf')  format('truetype'), url('SuperGroteskPro.svg#SuperGroteskPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
