<div id="ticker" class="marquee bg--darkBlue">
  <div id="ticker__wrapper" class="marquee-content_items mono mono--sm color--white">
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
  </div>
</div>
<footer id="footer" class="footer footer--md bg--bgGray">
  <div class="fs-row">
    <div class="fs-cell fs-xl-8 fs-lg-7 fs-md-full fs-sm-3">
      <div class="fs-row">
        <nav class="fs-cell fs-lg-third fs-md-2 fs-sm-third fs-xs-half">
          <ul class="footer__nav">
            <li><a href="/about/" class="">About</a></li>
            <li><a href="/contact/" class="">Contact</a></li>
            <li><a href="/careers/" class="">Careers</a></li>
            <li><a href="/search/" class="">Search</a></li>
            <li><a href="/blog/" class="">Blog</a></li>
          </ul>
        </nav>
        <nav class="fs-cell fs-lg-third fs-md-2 fs-sm-third fs-xs-half">
          <ul class="footer__nav">
            <li><a href="/glossary/faq/" class="">FAQ</a></li>
            <li><a href="/glossary/returns-shipping/" class="">Returns &amp; Shipping</a></li>
            <li><a href="/retailers/" class="">Retailers</a></li>
            <li><a href="/commercial-orders/" class="">Commercial Orders</a></li>
            <li><a href="/?page_id=43" class="">Guides</a></li>
          </ul>
        </nav>
        <div class="fs-cell fs-lg-third fs-md-2 fs-sm-third fs-xs-half">
          Timeline Studio<br>
3417 NW Guam Street<br>
Portland, OR 97201<br>
+1 503 765 8056<br>
<a href="mailto:contact@timelinewood.com">contact@timelinewood.com</a>        </div>
      </div>
    </div>
    <hr class="fs-cell fs-lg-hide fs-md-full fs-sm-3 divider">
    <div class="fs-cell fs-xl-4 fs-lg-5 fs-md-full fs-sm-full">
      <form class="footer__form relative">
        <label class="color--black accent accent--md">Join Our Newsletter</label>
        <input type="text" placeholder="Email Address">
        <input type="submit" value="Submit" class="footer__form-submit bg--darkBlue">
      </form>
      <div class="fs-row">
        <a href="" class="accent accent--sm fs-cell fs-all-fifth">Facebook</a>
        <a href="" class="accent accent--sm text-center fs-cell fs-all-fifth">Instagram</a>
        <a href="" class="accent accent--sm text-center fs-cell fs-all-fifth">Twitter</a>
        <a href="" class="accent accent--sm text-center fs-cell fs-all-fifth">YouTube</a>
        <a href="" class="accent accent--sm text-right fs-cell fs-all-fifth">Pinterest</a>
      </div>
    </div>
  </div>
  <hr class="invisible compact">
  <div class="fs-row footer__links">
    <div class="fs-cell fs-all-full">
      <span class="">© 2009-2016 Timeline Wood.</span>&nbsp;
      <div class="fs-lg-hide fs-md-hide"></div>
      <a href="/glossary/#privacy-policy" class="">Privacy Policy.</a>&nbsp;
      <a href="/glossary/#terms-conditions" class="">Terms &amp; Conditions.</a>&nbsp;
      <a href="/glossary/#cookies" class="">Cookies.</a>&nbsp;
      <div class="fs-lg-hide fs-md-hide fs-sm-hide"></div>
      <span class="footer-credits fl--right text-right">
        <span class="footer-credits__wrapper">
          <span class="footer-credits__link-wrapper"><a href="/glossary/cookies/" class="">+ Site Credits</a></span>
          <span class="footer-credits__link-wrapper">
            <a target="_blank" href="#" class="">Design by 12:01</a> — 
            <a target="_blank" href="http://wearegiants.com" class="">Code by WeAreGiants.</a></span>
        </span>
      </span>
    </div>
  </div>
</footer>