<div id="ticker" class="marquee bg--blue">
  <div id="ticker__wrapper" class="marquee-content_items mono mono--sm color--white">
    <div>
      Timeline is the new design alternative to reclaimed wood and conventional on-site finishing. Through a specially developed color process, Timeline creates subtly hued wood boards in 11 curated tones. Our technique allows the natural woodgrain to shine through, creating warmth, depth and variation, while still delivering a consistent product that is available in unlimited supply. Using water-based and low VOC materials, we offer lumber that is both beautiful and durable.      Timeline is the new design alternative to reclaimed wood and conventional on-site finishing. Through a specially developed color process, Timeline creates subtly hued wood boards in 11 curated tones. Our technique allows the natural woodgrain to shine through, creating warmth, depth and variation, while still delivering a consistent product that is available in unlimited supply. Using water-based and low VOC materials, we offer lumber that is both beautiful and durable.      Timeline is the new design alternative to reclaimed wood and conventional on-site finishing. Through a specially developed color process, Timeline creates subtly hued wood boards in 11 curated tones. Our technique allows the natural woodgrain to shine through, creating warmth, depth and variation, while still delivering a consistent product that is available in unlimited supply. Using water-based and low VOC materials, we offer lumber that is both beautiful and durable.      Timeline is the new design alternative to reclaimed wood and conventional on-site finishing. Through a specially developed color process, Timeline creates subtly hued wood boards in 11 curated tones. Our technique allows the natural woodgrain to shine through, creating warmth, depth and variation, while still delivering a consistent product that is available in unlimited supply. Using water-based and low VOC materials, we offer lumber that is both beautiful and durable.      Timeline is the new design alternative to reclaimed wood and conventional on-site finishing. Through a specially developed color process, Timeline creates subtly hued wood boards in 11 curated tones. Our technique allows the natural woodgrain to shine through, creating warmth, depth and variation, while still delivering a consistent product that is available in unlimited supply. Using water-based and low VOC materials, we offer lumber that is both beautiful and durable.    
    </div>
  </div>
</div>

<footer id="footer" class="footer footer--md bg--bgGray">
  <div class="fs-row">
    <div class="fs-cell fs-xl-8 fs-lg-7 fs-md-full fs-sm-3">
      <div class="fs-row">
        <nav class="footer-nav fs-cell fs-lg-third fs-md-2 fs-sm-third fs-xs-half">
          <ul id="menu-footer-left" class="menu">
            <li class="menu-item menu-products"><a href="http://timeline-wood.myshopify.com">Products</a></li>
            <li class="menu-item menu-commercial-orders"><a href="http://timelinewood.com/commercial-orders/">Commercial Orders</a></li>
            <li class="menu-item menu-retailers"><a href="http://timelinewood.com/retailers/">Retailers</a></li>
            <li class="menu-item menu-about"><a href="http://timelinewood.com/about/">About</a></li>
            <li class="menu-item menu-contact"><a href="http://timelinewood.com/contact/">Contact</a></li>
          </ul>
        </nav>
        <nav class="footer-socials fs-cell fs-lg-third fs-md-2 fs-sm-third fs-xs-half">
          <ul id="menu-footer-right" class="menu">
            <li class="menu-item menu-facebook"><a href="https://www.facebook.com/TimelineWood/?fref=ts">Facebook</a></li>
            <li class="menu-item menu-instagram"><a href="https://www.instagram.com/timelinewood/">Instagram</a></li>
            <li class="menu-item menu-twitter"><a href="https://twitter.com/TimelineWood">Twitter</a></li>
            <li class="menu-item menu-youtube"><a href="http://youtube.com">YouTube</a></li>
          </ul>
        </nav>
        <div class="footer-address fs-cell fs-lg-third fs-md-2 fs-sm-third fs-xs-half">
          Timeline Studio<br>
          3417 NW Guam Street<br>
          Portland, OR 97201<br>
          +1 503 765 8056<br>
          <a href="mailto:contact@timelinewood.com">contact@timelinewood.com</a>        
        </div>
      </div>
    </div>
    <hr class="fs-cell fs-lg-hide fs-md-full fs-sm-3 divider">
    <div class="fs-cell fs-xl-4 fs-lg-5 fs-md-full fs-sm-full">
      <form class="footer__form relative" action="//timelinewood.us6.list-manage.com/subscribe/post?u=58784e16aacb58ebef5701fbf&amp;id=a8269cf156" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <label class="color--black accent accent--md">Join Our Newsletter</label>
        <input type="email" value="" placeholder="Email Address" name="EMAIL" id="Email" class="subscribe-input color--black" autocorrect="off" autocapitalize="off">
        <span class="input-group-btn">
        <button type="submit" class="footer__form-submit bg--darkBlue" name="subscribe" id="Subscribe">
          <span class="newsletter__submit-text--large">Submit</span>
        </button>
        </span>
      </form>
    </div>
  </div>
  <hr class="invisible compact">
  <div class="fs-row footer__links">
    <div class="fs-cell fs-all-full">
      <span class="">© 2009-2017 Timeline Wood.</span>&nbsp;
      <div class="fs-lg-hide fs-md-hide"></div>
        <a href="http://timelinewood.com/glossary/#privacy-policy" class=""><u>Privacy Policy</u>.</a>&nbsp;
        <a href="http://timelinewood.com/glossary/#terms-conditions" class=""><u>Terms &amp; Conditions</u>.</a>&nbsp;
        <a href="http://timelinewood.com/glossary/#cookies" class=""><u>Cookies</u>.</a>&nbsp;
        <div class="fs-lg-hide fs-md-hide fs-sm-hide"></div>
        <span class="footer-credits fl--right text-right">
        <span class="footer-credits__wrapper">
          <span class="footer-credits__link-wrapper"><a href="http://timelinewood.com/glossary/cookies/" class="">+ <u>Site Credits</u></a></span>
          <span class="footer-credits__link-wrapper">
            <a target="_blank" href="http://12-01.am" class="">Design by 12:01</a> — 
            <a target="_blank" href="http://howler.la" class="">Code by Howler</a>
          </span>
        </span>
      </span>
    </div>
  </div>
</footer>