<header id="header" class="relative mobile-menu relative fs-swap-target fs-swap-enabled">
  <div class="fs-row relative header header--sm ">
    <menu id="header-mobile" class="fs-cell fs-lg-hide fs-md-fourth fs-sm-hide">
      <a data-swap-target=".mobile-menu" class="mobile-toggle btn--hamburg btn--nav btn_first btn_last fs-swap-element fs-swap-enabled"><span class="fs-sm-hide">Menu</span></a>
    </menu>
    <menu id="header-main" class="fs-cell fs-lg-fifth fs-md-half fs-sm-half text-center">
      <a href="http://timelinewood.dev" id="header--logo" class="btn btn--nav btn--logo btn_first">Timeline Wood</a>
    </menu>
    <menu id="header-search" class="fs-cell fs-lg-fifth fs-md-fourth fs-sm-fourth text-right">
      <a href="#search-modal" id="header--logo" class="open--modal btn btn--nav btn_first ss-gizmo ss-search right"><span class="fs-md-hide fs-sm-hide">Search</span></a>
      <a id="open_bag" class="btn--nav btn btn__last ss-gizmo ss-cart right" href="#">Bag</a>
<span id="bag">
  <div id="bag--wrapper" class="wrapper text-left">
    <div class="text-right"><a href="#" class="ss-gizmo ss-delete" id="close_bag"></a></div>
    <div class="text fs-row">
      <div class="fs-cell fs-full-all" id="items"></div>
      <div class="fs-cell fs-full-all" id="bagtotal"><div class="text-center">Your bag is empty!</div></div>
    </div>
  </div>
</span>    </menu>
    <menu id="header-navigation" class="fs-cell fs-xl-6 fs-lg-7 fs-md-hide fs-sm-hide">
      <a class="btn btn--nav" href="http://timeline-wood.myshopify.com/collections/">Products</a>
<a class="btn btn--nav" href="http://timelinewood.dev/commercial-applications/">Commercial</a>
<a class="btn btn--nav" href="http://timelinewood.dev/retailers/">Retailers</a>
<a class="btn btn--nav" href="http://timelinewood.dev/about/">About</a>
    </menu>
  </div>
  <div class="pinned pinned__bottom">
    <div id="mobile-menu" class="text-center bg--black header header--md mobile-menu fs-swap-target fs-swap-enabled">
<div id="mobile-menu_container" class="fs-row">
      <a class="btn btn--nav btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half" href="http://timeline-wood.myshopify.com/collections/">Products</a>
<a class="btn btn--nav btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half" href="http://timelinewood.dev/commercial-applications/">Commercial</a>
<a class="btn btn--nav btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half" href="http://timelinewood.dev/retailers/">Retailers</a>
<a class="btn btn--nav btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half" href="http://timelinewood.dev/about/">About</a>
    </div>
</div>  </div>
</header>