<div class="nav-band">
  <div class="fs-row">
    <div class="fs-cell fs-lg-half fs-md-6 fs-sm-3 fs-centered">
      {% for collection in collections %}
      <div class="fs-cell fs-lg-half fs-md-half fs-sm-half fs-contained text-center"><a class="color--black" href="{{ collection.url }}">{{ collection.title }}</a></div>
      {% endfor %}
    </div>
  </div>
</div>