.collection {
  &-comingsoon {
    span {
      background-color: @black;
      color: @white;
      padding: @spaced*.5 @spaced;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      letter-spacing: 1px;
      display: inline-block;
      transform: rotate(-1deg);
    }
  }
}

.collection-item {
  
  &__thumb {
    margin-bottom: @spaced;
  }
  &__link {
    margin-bottom: 0;
  }
  &__desc {
    @media @desktop {
      padding: 0 @spaced;
    }
    margin-bottom: @spaced*.5;
  }

}