.product {
	&-images {
		&--single {
			margin-bottom: @spaced;
		}
	}
	&-collection {
		margin-top: 0;
		a {
			color: @gray;
			&:hover {
				color: @textGray;
			}
		}
	}
	&-title {
		margin-bottom: 0;
		margin-top: 10px;
	}
	&-add {
		&__btn {
			background: @orange!important;
			margin-bottom: 0!important;
		}
	}
	&-sku {
		color: @gray;
		display: block;
		margin-top: 10px;
	}
	&-drop {
		.wrapper {
			padding-top: 0;
		}
		&__thumb {
			background: @bgGray;
			//height: 90px;
		}
		h4 {
			margin-bottom: 0;
		}
	}
}