.product {
	&-order-modal {
		@media @min {
			width: 90%;	
		}
		@media @tablet {
			width: 550px;	
		}
		h2 {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			.font_size(16);
			text-align: center;
			margin-bottom: @spaced*.75;
		}
	}
	&-images {
		&--single {
			margin-bottom: @spaced;
		}
		&--thumb {
			margin-bottom: @spaced*.75;
			margin-right: 10px;
			display: block;
			@media @tablet {
				margin-right: 0;
			}
		}
	}
	&-collection {
		margin-top: 0;
		text-transform: uppercase;
		.font_size(12);
		letter-spacing: .5px;
		a {
			color: @gray;
			&:hover {
				color: @textGray;
			}
		}
	}
	&-title {
		margin-bottom: 0;
		margin-top: 10px;
	}
	&-price {
		color: @darkGray;
	}
	&-add {
		&__btn {
			//background: @orange!important;
			margin-bottom: 0!important;
		}
	}
	&-sku {
		color: @gray;
		display: block;
		margin-top: 10px;
	}
	&-drop {
		.wrapper {
			background: rgba(70,70,70,.9)
			//padding-top: 0;
		}
		&__thumb {
			background: @bgGray;
			//height: 90px;
		}
		h4 {
			margin-bottom: 0;
		}
	}
}